body 
{
  background-color: green;
  color: black;
  font-size: normal;
  font-family: Georgia, "Trebuchet MS", Verdana, sans-serif;
  opacity:0.0;
  transform:rotate(30deg)
  
}

@keyframes erscheinen{
  0%{
    opacity:0.0;
  }
100%{
  opacity:1.0;
}

  
}
body img:hover{
  animation-name:erscheinen;
  animation-duration:2s;
  opacity:1.0;
}

h1, em 
{
  font-weight: bold;
  font-style: normal;
}

h1 
{
  font-size: 250%;
}

